.slider{
    &__body{
        overflow: hidden;
        display: flex;
        width: 300%;
        li{
            width: 100%;
            display: grid;
            place-content: center;
            transform: translateX();
            img{
                height: 500px;
            }
        }
    }
}